
<section class="mb-8 lg:mt-6">
    <div class="container">
        <!-- row -->
        <div class="grid grid-cols-12 gap-6">
            <div class="2xl:col-span-8 xl:col-span-7 col-span-12">

                <div class=" h-full">
                    <div class=""
                        style="background: url(https://img.freepik.com/foto-gratis/retrato-mochila-joven-mujer-inconformista-que-viaja-tomando-foto-urbano_1150-4611.jpg?t=st=1737761425~exp=1737765025~hmac=4a350d432ceafeb37e421639711c756201958f7b83aa0481a7b27a80c2475bb0&w=826) no-repeat; background-size: cover; border-radius: 0.75rem">
                        <div class="lg:pl-12 lg:py-28 py-14 px-8 2xl:w-1/2 xl:w-2/3">
                            <!-- badge -->
                            <div class="flex items-center mb-4">
                                <span>Exclusive Offer</span>
                                <span
                                    class="inline-block p-2 text-sm align-baseline leading-none rounded bg-red-600 text-white font-semibold ml-2">15%</span>
                            </div>
                            <!-- title -->
                            <h2 class="text-3xl font-bold mb-3 leading-snug">Best Online Deals, Free Stuff
                            </h2>
                            <p class="text-md text-gray-800">Only on this week... Don’t miss</p>
                            <!-- price -->
                            <div class="mb-4 mt-4">
                                <span>
                                    Start from
                                    <span class="text-md text-red-600 ml-1">$5.99</span>
                                </span>
                            </div>
                            <!-- btn -->
                            <a href="#!"
                                class="btn inline-flex items-center gap-x-2 bg-green-600 text-white border-green-600 disabled:opacity-50 disabled:pointer-events-none hover:text-white hover:bg-green-700 hover:border-green-700 active:bg-green-700 active:border-green-700 focus:outline-none focus:ring-4 focus:ring-green-300">
                                <span>Get Best Deal</span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-arrow-right" width="14" height="14"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l14 0"></path>
                                        <path d="M13 18l6 -6"></path>
                                        <path d="M13 6l6 6"></path>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="2xl:col-span-4 xl:col-span-5 col-span-12 flex flex-col md:flex-row xl:flex-col gap-4">
                <div class="flex-auto px-8 py-8 rounded-lg"
                    style="background: url(https://img.freepik.com/foto-gratis/mujeres-jovenes-estilo-que-viajan-juntas-europa-vestidas-vestidos-accesorios-moda-primavera_285396-9092.jpg?t=st=1737761516~exp=1737765116~hmac=5e44d8828ce40351c349fdf1f47be3c5c9a68643081ce470572818407927c86b&w=826) no-repeat; background-size: cover">
                    <div>
                        <h3 class="font-bold leading-tight text-lg">
                            10% cashback on
                            <br />
                            personal care
                        </h3>
                        <div class="mt-4 mb-5 text-md text-gray-800">
                            <p>Max cashback: $12</p>
                            <span>
                                Code:
                                <span class="font-bold">CARE12</span>
                            </span>
                        </div>
                        <a href="#!"
                            class="btn inline-flex items-center gap-x-2 bg-gray-800 text-white border-gray-800 disabled:opacity-50 disabled:pointer-events-none hover:text-white hover:bg-gray-900 hover:border-gray-900 active:bg-gray-900 active:border-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300">
                            Shop Now
                        </a>
                    </div>
                </div>

                <div class="flex-auto px-8 py-8 rounded-lg"
                    style="background: url(https://img.freepik.com/foto-gratis/viajeros-femeninos-agitando-coches-carretera_1150-7424.jpg?t=st=1737761562~exp=1737765162~hmac=1a17dffca157b315ec488082a05eacd7b989f11d37246438eec9d4f65a9b7d2b&w=826) no-repeat; background-size: cover">
                    <!-- Banner Content -->
                    <div>
                        <!-- Banner Content -->
                        <h3 class="font-bold leading-tight text-lg">
                            Say yes to
                            <br />
                            season’s fresh
                        </h3>
                        <div class="mt-4 mb-5 text-md text-gray-800">
                            <p class="text-md text-gray-800">
                                Refresh your day
                                <br />
                                the fruity way
                            </p>
                        </div>

                        <a href="#!"
                            class="btn inline-flex items-center gap-x-2 bg-gray-800 text-white border-gray-800 disabled:opacity-50 disabled:pointer-events-none hover:text-white hover:bg-gray-900 hover:border-gray-900 active:bg-gray-900 active:border-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>