<section class="lg:my-20 my-8">
    <div class="container">
        <div class="mb-6 grid grid-cols-1">
            <!-- heading    -->
            <h3 class="text-lg">Lineas Populares</h3>
        </div>
        <div class="grid xl:grid-cols-6 md:grid-cols-4 grid-cols-2 gap-8">
            <!-- col -->


            <div *ngFor="let item of list_lineas" (click)="goToCategorias(item)" class="text-center cursor-pointer">
                <!-- img -->
                <div class="flex justify-center ">
                    <a ><img src="./assets/images/image1.png" alt="" class=" card-image rounded-full  " /></a>
                </div>
                <!-- text -->
                <div class="mt-4">
                    <h5 class="text-base"><a  class="text-inherit">{{item.nombre}}</a>
                    </h5>
                </div>
            </div>



        </div>
    </div>
</section>